<div>
  <h4>Identificarse</h4>
</div>
<div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(); loginForm.reset()">
    <div [hidden]="hiddenError" class="alert alert-danger">El usuario o la contraseña no son correctos.</div>
    <div class="form-group required">
      <label for="usuario" class="control-label">Usuario:</label>
      <input type="text" class="form-control" id="usuario" [(ngModel)]="login.usuario" name="usuario" #usuario="ngModel" placeholder="Usuario" required>
      <div [hidden]="usuario.valid || usuario.pristine" class="alert alert-danger">El nombre de usuario es requerido.</div>
    </div>
    <div class="form-group required">
      <label for="password" class="control-label">Contraseña:</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="login.password" name="password" #password="ngModel" placeholder="Contraseña" required>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">La contraseña es requerida.</div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Identificarse</button>
    <a class="nav-link" routerLink="/recordar">He olvidado mi contraseña</a>
  </form>
</div>